.navbar-links {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    background-color: #707070;
    height: 10vh;
}

.navbar a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
}

.navbar a:hover {
    color: #ff900c;
}

.navbar-logo {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
}