* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.main-content {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 20vh 0 0 0;
    color: azure;
    margin: 0;

    /* Adds extra text behind text to simulate a shadow */
    text-shadow: 
        /* first layer at 1px */
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000,
        /* second layer at 2px */
        -2px -2px 0px #000,
        -1px -2px 0px #000,
         0px -2px 0px #000,
         1px -2px 0px #000,
         2px -2px 0px #000,
         2px -1px 0px #000,
         2px  0px 0px #000,
         2px  1px 0px #000,
         2px  2px 0px #000,
         1px  2px 0px #000,
         0px  2px 0px #000,
        -1px  2px 0px #000,
        -2px  2px 0px #000,
        -2px  1px 0px #000,
        -2px  0px 0px #000,
        -2px -1px 0px #000;
}

.wall {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90vh;
}

.fourplayerdraft .main-content{
    margin: 0 35%;
}

.draft button {
    margin: 0 2rem;
}

.introduction {
    margin-bottom: 1rem;
}

.introduction h1{
    font-size: 3rem;
    font-weight: 700;
}


button {
    padding: 1.5rem 5rem;
    font-size: 18px;
    color: #ff900c;
    background: #000000;
    border: #ff900c;
    border-style: solid;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 2rem;
}

button:hover {
    background: #ff900c;
    color: #000;
    border: #000;
    border-style: solid;
}


.tournaments {
    margin-top: 3rem;
    text-align: center;
    color: azure;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
